.q-header-mini {
font-size: 16px;
margin: 4px 2px;
}

.q-notice {
margin: 2px;
padding: 10px;
}

.pure {
background: rgb(255, 255, 255);
}

.info {
background: rgb(224, 234, 255);
}

.success {
background: rgb(117, 255, 82);
color: white;
}

.warning {
background: rgb(248, 255, 82);
}

.error {
background: rgb(255, 144, 82);
color: white;
}

.q-hr {
height: 1px;
border: 0px;
background: rgb(211, 211, 211);
}





.q-control {
display: inline-block;
background: white;
border: 1px solid rgb(235, 235, 235);
outline: none;
margin: 2px;
padding: 10px;
font-family: OpenSans, Calibri, FontAwesome;
}


.q-control-group {
padding: 1px;
}


.q-label {
display: inline-block;
margin: 2px;
color: rgb(175, 175, 175);
word-wrap: break-word;
}

.q-label.left { float: left; }
.q-label.right { float: right; }



.q-button {
background: rgb(240, 240, 240);
outline: none;
cursor: pointer;
}

.q-button:hover {
background: rgb(255, 255, 255);
}

.q-button:active {
background: rgb(230, 230, 230);
}


.q-button.violet {
background: rgb(152, 98, 210);
border: 0px;
color: white;
}

.q-button.violet:hover {
background: rgb(172, 118, 230);
}

.q-button.violet:active {
background: rgb(112, 48, 160);
}

.q-form {
display: block;
padding: 15px;
}






[disabled] {
background: rgb(230, 230, 230) !important;
color: white !important;
}

[disabled]:hover {
background: rgb(230, 230, 230) !important;
color: white !important;
}

[disabled]:active {
background: rgb(230, 230, 230) !important;
color: white !important;
}

.width-10 { width: 10%; }
.width-15 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-33 { width: 33%; }
.width-35 { width: 35%; }
.width-40 { width: 40%; }
.width-45 { width: 45%; }
.width-50 { width: 50%; }
.width-55 { width: 55%; }
.width-60 { width: 60%; }
.width-65 { width: 65%; }
.width-66 { width: 66%; }
.width-70 { width: 70%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-85 { width: 85%; }
.width-90 { width: 90%; }
.width-95 { width: 95%; }
.width-100 { width: 100%; }

.hidden {
display: none;
}