body {
    font-family: Calibri, OpenSans, FontAwesome sans-serif;
}

.qui-app {
    display: block;
    text-decoration: none;

    background: rgb(38, 38, 38);
    color: white;
    font-size: 24px;

    position: absolute;
    left: 0px;
    top: 0px;

    padding: 15px;
}

.qui-menu-main {
    font-size: 16px;

    position: absolute;
    left: 0px;
    top: 66px;

    padding: 8px;
    text-align: center;
}

.qui-header {
    display: block;
    text-decoration: none;

    font-size: 22px;

    margin-top: 15px;
    margin-left: 75px;
}

.qui-button {
    font-size: 12px;
    color: rgb(150, 150, 150);
    cursor: pointer;
    text-decoration: none;
}

.qui-button .label {
    font-family: Calibri, OpenSans, FontAwesome sans-serif;
    margin-left: 5px;
}

.qui-label {
    font-family: Calibri, Open-Sans, FontAwesome, sans-serif;
    color: rgb(150, 150, 150);
}

.qui-button:hover {
    color: black;
}

.qui-button.block {
    background: white;
    padding: 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
}

.qui-button.block:hover {
    background: rgb(230, 230, 230);
}

.qui-table .qui-button {
    font-size: 16px;
    text-decoration: none;
}

.qui-table .fa.qui-button {
    font-size: 12px;
    text-decoration: none;
}

.qui-header .qui-button {
    font-size: 22px;
    text-decoration: none;
}


.qui-list-menu {
    padding: 10px 0px;
    margin: 15px 1px;
    border-top: 1px solid rgb(235, 235, 235);
}

.qui-navigator {
    float: right;
    font-size: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.qui-label {
    color: gray;
}

.qui-table td {
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.qui-table tr:last-child td {
    border-bottom: 1px solid white;
}

.qui-content {
    margin-top: 75px;
    margin-right: 15px;
    margin-left: 75px;
    min-width: 300px;
}

.qui-content-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}

.qui-menu-main .qui-button {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}

.qui-message {
    padding: 10px;
    margin: 3px 1px;

    font-size: 12px;
    border-radius: 5px;
}

.qui-message .fa {
    display: inline-block;
    margin-right: 5px;
    float: left;
}

.qui-message .content {
    display: inline-block;
    margin-left: 5px;
}

.qui-message.info {
    border: 1px solid #CDD9FF/*#EFF3FF*/;
}

.qui-message.warn {
    border: 1px solid #E8E8AD /*#EFF3FF*/;
}

.qui-message.fatal {
    border: 1px solid #ffceaf /*#EFF3FF*/;
}

.qui-message.question {
    border: 1px solid rgb(230, 230, 230) /*#EFF3FF*/;
}

.qui-message.ok {
    border: 1px solid rgb(167, 255, 167);
}

.qui-document {
    font-family: Consolas, 'Anonymous Pro', monospace;
    font-size: 12px;

    padding: 10px;
    margin-bottom: 5px;

    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
}

.qui-section-header {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.qui-input {
    padding: 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    font-size: 12px;
    font-family: Calibri, Open-Sans, FontAwesome, sans-serif;
    margin-bottom: 1px;
}

.qui-input.select {
    display: inline-block;
    min-width: 50px;
    cursor: pointer;
    background: white;
}

.qui-tool-group {
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
    min-width: 100px;
    min-height: 16px;
    padding: 5px;
    margin-left: -3px;
    border: 1px solid rgb(230, 230, 230);
    border-top: 0px;
    /*line-height: 24px;*/
}