/**
 * Quark default styles
 */
body {
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

h1 {
    margin: 25px 0 15px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
}

h2 {
    margin: 5px 0 5px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

h3 {
    margin: 2px 0 2px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

h4 {
    margin: 2px 0 2px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

h5 {
    margin: 2px 0 2px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

h6 {
    margin: 2px 0 2px 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}


/**
 * .quark-input and .quark-button are base controls
 */
.quark-input, .quark-button {
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.quark-input, .quark-button.block {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    padding: 10px 12px;
}

.quark-button.block {
    white-space: nowrap;
}

.quark-button:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.quark-button.block:hover {
    background: rgb(230, 230, 230);
}

.quark-input {
    width: 150px;
}


/**
 * .quark-message represent short notifications from system
 */
.quark-message {
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;

    padding: 10px;
    margin: 3px 1px;

    border-radius: 5px;
}

.quark-message .fa {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    float: left;
}

.quark-message .content {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.quark-message.info {
    border: 1px solid #CDD9FF;
}

.quark-message.warn {
    border: 1px solid #E8E8AD;
}

.quark-message.fatal {
    border: 1px solid #ffceaf;
}

.qui-message.question {
    border: 1px solid rgb(230, 230, 230);
}

.quark-message.ok {
    border: 1px solid rgb(167, 255, 167);
}


/**
 * .quark-document useful for code snippets or other text output
 */
.quark-document {
    font-family: Consolas, 'Anonymous Pro', monospace;
    font-size: 12px;

    padding: 10px;
    margin: 5px 0;

    border-radius: 3px;
    border: 1px solid rgb(230, 230, 230);
}