body {
    color: rgb(0,0,0);
    min-width: 310px;
}

#presence-header {
    background: rgb(60,60,60);
    color: rgb(255,255,255);
    line-height: 0;
    font-size: 0;
    position: relative;
}

#presence-logo {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    padding: 15px;
}

#presence-user {
    margin: 0;
}

#presence-user .quark-presence-container {
    font-size: 12px;
    line-height: 12px;
}

#presence-user .quark-button {
    margin: 0;
}

#presence-user-photo {
    margin: 5px;
}

#presence-user-photo .quark-presence-container {
    background: center center no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
}

#presence-menu-header {
    margin: 10px 10px 10px 15px;
    vertical-align: middle;
}

#presence-menu-header .quark-button {
    vertical-align: middle;
    margin: -4px 10px 6px 0;
}

#presence-header-cleaner {
    display: inline-block;
    width: 0;
    height: 24px;
}

#presence-search {
    display: inline-block;
    margin: 0 0 0 15px;
}

#presence-search .quark-input {
    margin: 0 15px 0 0;
}

/* Side menu */
#presence-menu-side {
    text-align: left;
    background: rgba(255,255,255,0.5);
    padding: 15px;
}

#presence-menu-side-parent {
    margin-right: 30px;
}

#presence-menu-side .quark-button {
    display: block;
    padding: 5px 15px 5px 15px;
    margin: 0;
    color: rgb(0,0,0);
    font-size: 14px;
}

#presence-menu-side .quark-button:hover {
    background: rgb(235,235,235);
}

#presence-menu-side .quark-button.fa:before {
    margin: 0 10px 0 0;
}




#presence-content {
    position: relative;
}

#presence-content > .quark-presence-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.presence-block {
    text-align: left;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    margin: 0 0 10px 0;
}

.presence-block .quark-presence-container {
    text-align: left;
    padding: 0;
    margin: 0;
}

.presence-block h1 {
    padding: 0;
    margin: 0 0 10px 0;
}

.quark-presence-column > .quark-presence-container.presence-block {
    display: block;
    width: auto;
}

.presence-block.main {
    max-width: 700px;
}

.presence-block.satellite {
    max-width: 300px;
}


/* Presence label */
.presence-label {
    display: inline-block;
    padding: 3px 5px;
    margin: -5px 0 0 -5px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 10px;
}

.presence-label.green {
    background: rgb(10, 200, 70);
    color: rgb(255,255,255);
}

.presence-label.yellow {
    background: rgb(225,225,0);
    color: rgb(0,0,0);
}

.presence-label.blue {
    background: rgb(10, 100, 200);
    color: rgb(255,255,255);
}

.presence-label.red {
    background: rgb(230, 70, 10);
    color: rgb(255,255,255);
}

.quark-button .presence-label {
    float: right;
}


/* Overlaid controls */
.presence-overlaid-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* Cluster controls */
.presence-cluster-node {
    background: rgb(240,240,240);
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
}

.presence-cluster-node:before {
    display: inline-block;
    font-size: 16px;
    content: 'Node';
    margin: 0 0 10px 0;
}

.presence-cluster-node.controller {
    background: rgb(200,255,200);
}

.presence-cluster-node.controller:before {
    content: 'Controller';
}

.presence-cluster-node .addr {
    font-size: 14px;
}

.presence-cluster-node .addr.external {
    font-weight: 600;
}

.presence-cluster-node .addr.internal { }

.presence-cluster-node .node-state {
    display: none;
    margin: 10px 0 0 0;
}

.presence-cluster-node:hover .node-state {
    display: block;
}