body {
    color: rgb(0,0,0);
    min-width: 310px;
}

body .quark-button {
	color: rgb(0,176,80);
}

body .quark-button:hover {
	color: rgb(0,225,80);
}

#presence-header {
    background: rgb(60,60,60);
    color: rgb(255,255,255);
    font-size: 0;
    line-height: 0;
    position: relative;
	padding: 5px 0;
}

#presence-header .quark-presence-column {
    vertical-align: middle;
    font-size: 14px;
    line-height: 32px;
}

#presence-logo {
    font-size: 24px !important;
}

#presence-header .quark-button {
    margin: 0 10px 0 0;
	color: rgb(255,255,255);
}

#presence-header .quark-button:hover {
	color: rgb(0,225,80);
}

#presence-search {
    display: inline-block;
}

#presence-user {
	margin: 0;
	line-height: 0 !important;
}

#presence-user-info {
    margin: 5px;
	line-height: 20px !important;
}

#presence-user-info .quark-presence-container {
	text-align: right;
}

#presence-user-info .quark-button {
	margin: 0;
}

#presence-user-photo {
    margin: 5px;
	line-height: 0 !important;
}

#presence-user-photo .quark-presence-container {
    background: center center no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
	border-radius: 45px;
}


/* Side menu */
#presence-menu-side {
    text-align: left;
    background: rgba(255,255,255,0.5);
    padding: 15px;
}

#presence-menu-side-parent {
    margin-right: 30px;
}

#presence-menu-side .quark-button {
    display: block;
    padding: 5px 15px 5px 15px;
    margin: 0;
    color: rgb(0,0,0);
    font-size: 14px;
}

#presence-menu-side .quark-button:hover {
    background: rgb(235,235,235);
}

#presence-menu-side .quark-button.fa:before {
    display: inline-block;
	width: 16px;
	text-align: center;
    margin: 0 10px 0 0;
}




#presence-content {
    position: relative;
}

#presence-content > .quark-presence-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.presence-block {
    text-align: left;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    margin: 0 0 10px 0;
}

.presence-block .quark-presence-container {
    text-align: left;
    padding: 0;
    margin: 0;
}

.presence-block h1 {
    padding: 0;
    margin: 0 0 10px 0;
}

.quark-presence-column > .quark-presence-container.presence-block {
    display: block;
    width: auto;
}

.presence-block.main {
    max-width: 700px;
}

.presence-block.satellite {
    max-width: 300px;
}


/* Presence label */
.presence-label {
    display: inline-block;
    padding: 3px 5px;
    margin: -2px 0 0 5px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 10px;
}

.presence-label.green {
    background: rgb(10, 200, 70);
    color: rgb(255,255,255);
}

.presence-label.yellow {
    background: rgb(225,225,0);
    color: rgb(0,0,0);
}

.presence-label.blue {
    background: rgb(10, 100, 200);
    color: rgb(255,255,255);
}

.presence-label.red {
    background: rgb(230, 70, 10);
    color: rgb(255,255,255);
}

.presence-label.visible {
	display: inline-block;
}

.presence-label.hidden {
	display: none;
}

.quark-button .presence-label {
	vertical-align: top;
}


/* Overlaid controls */
.presence-overlaid-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* Cluster controls */
.presence-cluster-node {
    background: rgb(240,240,240);
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
}

.presence-cluster-node:before {
    display: inline-block;
    font-size: 16px;
    content: 'Node';
    margin: 0 0 10px 0;
}

.presence-cluster-node.controller {
    background: rgb(200,255,200);
}

.presence-cluster-node.controller:before {
    content: 'Controller';
}

.presence-cluster-node .addr {
    font-size: 14px;
}

.presence-cluster-node .addr.external {
    font-weight: 600;
}

.presence-cluster-node .addr.internal { }

.presence-cluster-node .node-state {
    display: none;
    margin: 10px 0 0 0;
}

.presence-cluster-node:hover .node-state {
    display: block;
}

#presence-header .quark-button .presence-label {
	margin-left: -3px;
}

.quark-list-item .quark-button.item-remove {
	color: rgb(30,30,30);
}

.quark-list-item .quark-button.item-remove:hover {
	color: rgb(10, 200, 70);
}


.presence-breadcrumb {
	margin: 0 5px 0 5px !important;
	font-size: 12px;
}

.presence-breadcrumb-delimiter {
	font-size: 12px;
}

#presence-menu-side-controller {
	display: none;
	width: 98%;
	color: rgb(150,150,150) !important;
}

#presence-menu-side-controller:hover {
	background: rgb(240,240,240);
	color: rgb(0,0,0);
}