html {
    height: 100%;
    width: 100%;
}

body {
    font-family: FontAwesome, Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;

    min-height: 100%;
    width: 100%;

    min-width: 265px;
}

#quark-marqit-header, header {
    background: rgb(245, 245, 245);
    width: 100%;
    min-width: 265px;
    padding: 10px 0;
    display: inline-block;
    line-height: 28px;
}

#quark-marqit-logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 5%;
}

#quark-marqit-header-menu-left {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#quark-marqit-header-menu-right {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 5%;
}

#quark-marqit-header-menu-right .qui-input {
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}

#quark-marqit-header-menu-right .qui-button.block {
    vertical-align: middle;
    margin: 0;
    padding: 7px;
}

#quark-marqit-page, article {
    display: inline-block;
    margin: 10px 5% 75px 5%;
}

#quark-marqit-page h1, article h1 {
    margin: 20px 0 5px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
}

#quark-marqit-page p, article p {
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 20px 0;
    padding: 0;
}

#quark-marqit-page p .qui-button.block, article p .qui-button.block {
    padding: 5px;
    line-height: 24px;
}

/*.quark-marqit-sandbox {
    max-width: 600px;
}*/

.quark-marqit-sandbox h1 {
    font-size: 16px;
    margin: 5px 0;
}

.quark-marqit-table {
    border: 1px solid rgb(235, 235, 235);
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

.quark-marqit-table thead td {
    background: rgb(235, 235, 235);
}

.quark-marqit-table td {
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    padding: 20px 0;
    border-top: 1px solid rgb(230, 230, 230);
    text-align: center;
}