body {
    position: absolute;
    width: 100%;
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);
}

.quark-presence-screen {
    background-position: center center;
    width: 100%;
}

.quark-button {
    color: rgb(255,255,255);
    font-size: 16px;
    line-height: 24px;
    margin: 0 5px 0 0;
}

.quark-button:hover {
    color: rgb(0,225,80);
}

.quark-button.block {
    text-shadow: none;
    margin: 0;
}

.quark-button.block.ok {
    background: rgb(0,176,80);
    border: none;
    color: rgb(255,255,255);
    padding: 10px 20px;
}

.quark-button.block.ok:hover {
    color: rgb(255,255,255);
    background: rgb(0,225,80);
}

.quark-presence-logo {
    display: block;
    font-size: 92px;
    margin: 50px 5%;
}

.quark-presence-call {
    display: block;
    font-size: 16px;
    margin: 50px 5%;
}

.quark-presence-section {
    display: block;
    font-size: 32px;
    margin: 35px 5%;
}



.quark-presence-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.quark-presence-column {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 10px;
}

.quark-presence-container.c2 .quark-presence-column {
    width: 48%;
    min-width: 240px;
}

.quark-presence-container.c3 .quark-presence-column {
    width: 33%;
    min-width: 240px;
}

.quark-presence-column.quark-presence-stand {
    font-size: 80px;
    text-align: center;
}

.quark-presence-column.quark-presence-stand p {
    font-size: 16px;
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-weight: 300;

    max-width: 180px;
}

.quark-presence-column.fill {
    width: 100%;
}

.quark-presence-column.left {
    text-align: left;
    float: left;
}

.quark-presence-column.right {
    text-align: right;
    float: right;
}

.quark-presence-column.left-inverse {
    text-align: right;
    float: left;
}

.quark-presence-column.right-inverse {
    text-align: left;
    float: right;
}

.quark-presence-column.no-float {
    float: none;
}

.quark-presence-plan {
    text-align: right;
    margin: 10px;
}

.quark-presence-plan h2 {
    font-size: 28px;
    display: inline-block;
    vertical-align: top;
}

.quark-presence-plan .description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.quark-presence-plan .description ul {
    margin: 0 0 0 -25px;
}

.quark-presence-annotation {
    color: rgb(200,200,200);
    font-size: 12px;
    text-align: center;
    margin: 10px 0;
}

.quark-presence-annotation:before {
    content: '*';
    font-size: 16px;
}

.quark-presence-screen-overlay {
    min-height: 100%;
}

.quark-presence-copyright {
    margin: 25px 5% 10px 5%;
    font-size: 10px;
    color: rgb(150,150,150);
}

.quark-presence-trademark:after {
    content: 'TM';
    font-size: 6px;
    vertical-align: super;
}

.quark-presence-form { }

.quark-presence-form textarea {
    height: 150px;
    width: 100%;
    max-width: 400px;
    resize: none;
}