html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Open Sans, FontAwesome, sans-serif;
    font-size: 12px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

#quark-serveece-menu {
    background: rgb(24, 23, 23);
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 2;
    overflow: auto;
}

#quark-serveece-logo {
    font-size: 24px;
    padding: 10px;
}

.quark-serveece-menu-button {
    display: block;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
}

.quark-serveece-menu-button:hover {
    background: rgb(50, 50, 50);
}

#quark-serveece-page {
    /*display: inline-block;*/
    display: block;
    padding: 20px;

    /*position: absolute;
    left: 200px;*/

    margin-left: 200px;
    /*height: 100%;*/

    vertical-align: top;
}

#quark-serveece-page-header {
    font-size: 20px;
    margin-bottom: 20px;
}

.quark-serveece-section-header {
    font-size: 14px;
    margin: 10px 0;
}

.qui-button, .qui-input {
    font-weight: 300;
}