body {
    position: absolute;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(255,255,255);
}

.quark-presence-screen {
    background-position: center center;
    width: 100%;
    min-height: 100%;
}

.quark-presence-nav {
    position: relative;
    display: inline-block;
    margin: 30px 5% 30px 5%;
}

.quark-presence-nav .quark-button {
    color: rgb(255,255,255);
    font-size: 16px;
    line-height: 24px;
}

.quark-presence-nav .quark-button:hover {
    color: rgb(230,230,230);
}

.quark-button.block.ok {
    background: rgb(0,176,80);
    border: none;
    color: rgb(255,255,255);
    padding: 10px 20px;
}

.quark-button.block.ok:hover {
    background: rgb(0,225,80);
}

.quark-presence-nav .quark-button.block.ok {
    padding: 10px 25px;
}

.quark-presence-logo {
    font-size: 92px;
    margin: 50px 5%;
    text-align: center;
}

.quark-presence-call {
    text-align: center;
    font-size: 16px;
    margin: 50px 5%;
}

.quark-presence-section {
    text-align: center;
    font-size: 24px;
    margin: 25px 5%;
}

.quark-presence-container {
    text-align: center;
}

.quark-presence-stand {
    display: inline-block;
    font-size: 80px;
}

.quark-presence-stand p {
    font-size: 16px;
    font-family: FontAwesome, 'Open Sans', sans-serif;
    font-weight: 300;

    max-width: 180px;
}