body {
    font-weight: 300;

    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    min-width: 230px;
    min-height: 100%;
}

.quark-button, .quark-input {
    font-weight: 300;
}

.quark-button.block, .quark-input {
    border: 0;
}

.quark-button.block {
    background: rgb(240,240,240);
}

.quark-button.green {
    background: rgb(139, 220, 90);
    color: rgb(255, 255, 255);
}

.quark-button.green:hover {
    background: rgb(139, 250, 90);
}

.quark-button.red {
    background: rgb(255, 192, 0);
    color: rgb(255, 255, 255);
}

.quark-button.red:hover {
    background: rgb(255, 192, 100);
}



header .right .quark-input::-webkit-input-placeholder {
    color: rgb(230, 230, 230);
}

header .right .quark-input::-moz-placeholder {
    color: rgb(220, 220, 220);
}

header .right .quark-input:-moz-placeholder {
    color: rgb(220, 220, 220);
}

header .right .quark-input:-ms-input-placeholder {
    color: rgb(220, 220, 220);
}



header {
    background: rgba(0, 0, 0, 0.15);
    color: white;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .left {
    display: inline-block;
    margin: 5px 5% 5px 5%;
    vertical-align: middle;
    line-height: 28px;
}

header .right {
    display: inline-block;
    margin: 5px 5% 5px 5%;
    vertical-align: middle;
    line-height: 28px;
    float: right;
}

header .left .quark-button {
    margin: 3px 3px 0 3px;
    display: inline-block;
    vertical-align: middle;
}

header .right .quark-input, header .right .quark-button.block {
    padding: 6px 8px;
    margin: 2px 1px;
    display: inline-block;
    vertical-align: middle;
}

header .left .logo {
    display: inline-block;
    font-size: 28px;
    margin: 0;
}

header .quark-button {
    color: rgb(255, 255, 255);
}

header .quark-button:hover {
    color: rgb(230, 230, 230);
}

header .right .quark-input, header .right .quark-button.block {
    background: rgba(255,255,255,0.25);
    color: rgb(255, 255, 255);
}

header .quark-button.block:hover {
    background: rgba(255,255,255,0.35);
}

header .right .avatar {
    display: inline-block;
    border-radius: 3px;
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    margin: -6px 0 -6px 5px;
}



#quark-thinkscape-poster {
    min-height: 300px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
}

#quark-thinkscape-poster .title {
    display: inline-block;
    bottom: 0;
    font-size: 32px;
    line-height: 34px;
    margin: 200px 5% 0 5%;
    padding: 20px;

    color: white;
    text-shadow:
        -1px -1px 1px rgba(0,0,0,1),
        -1px 1px 1px rgba(0,0,0,1),
        1px 1px 1px rgba(0,0,0,1),
        1px -1px 1px rgba(0,0,0,1),
        2px 2px 10px rgba(0,0,0,1);
}

#quark-thinkscape-poster .avatar {
    display: inline-block;
    margin: 200px 20px -40px 0;
    box-shadow: 2px 2px 5px rgb(30,30,30);
    position: relative;
    left: 5%;
    max-width: 140px;
    max-height: 140px;
    width: 80%;
    height: 80%;
}

#quark-thinkscape-poster .title p {
    font-size: 12px;
    margin: 0;
}

#quark-thinkscape-poster .title span {
    margin: 0 10px 0 0 ;
}

#quark-thinkscape-poster .title .quark-button {
    vertical-align: middle;
    color: rgb(255, 255, 255);
    text-shadow: none;
}



#quark-thinkscape-page {
    margin: 10px 5% 130px 5%;
}

#quark-thinkscape-page .quark-input {
    border: 1px solid rgb(230,230,230);
    margin: 0 0 5px 0;
}

section {
    display: inline-block;
    width: 55%;
    margin: 20px 40px 20px 7%;
    vertical-align: top;
}

article {
    display: inline-block;
    margin: 0 0 20px 0;
    width: 100%;
}

article .summary {
    background: rgb(245,245,245);
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 5px;
    width: 100%;
}

article .summary .quark-button {
    margin: 0 10px 0 0;
}

article .comments form {
    display: inline-block;
    width: 100%;
}

#quark-thinkscape-menu {
    display: inline-block;
    max-width: 30%;
    vertical-align: top;
}

.quark-button.post {
    display: inline-block;
    padding: 60px 0 30px 0;
    margin-top: 10px;
    width: 150px;
    vertical-align: top;
}

.quark-button.post span {
    display: block;
    background: rgb(50,50,50);
    color: rgb(255,255,255);
    padding: 10px;
    width: 130px;
}

.quark-button.post:hover span {
    background: rgb(75,75,75);
}

.quark-button.section {
    color: rgb(0,0,0);
    display: block;
    margin: 5px 0;
    padding: 10px;
    background: rgb(245,245,245);
    border-radius: 5px;
}

.quark-button.section:hover {
    color: rgb(30,30,30);
    background: rgb(235,235,235);
}

.quark-button.explore {
    display: block;
    margin: 10px 0 15px 0;
}

.quark-thinkscape-comment {
    display: inline-block;
    margin: 5px 0 5px 0;
    width: 100%;
}

.quark-thinkscape-comment .avatar {
    display: inline-block;
    margin: 0 10px 0 0;
}

.quark-thinkscape-comment .avatar img {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}

.quark-thinkscape-comment .content {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

.quark-thinkscape-head {
    display: inline-block;
    padding: 50px 0 0 0;
    margin: 0 5px 5px 0;
    color: rgb(255,255,255);
    vertical-align: top;
    max-width: 250px;
    text-decoration: none;
    cursor: pointer;
}

.quark-thinkscape-head h3 {
    display: inline-block;
    background: rgba(0,0,0,0.35);
    padding: 10px 30px;
}

.quark-thinkscape-head:hover h3 {
    background: rgba(0,0,0,0.5);
}

.quark-thinkscape-head .about {
    padding: 10px;
    margin: 30px 0 -50px 0;
    color: rgb(0,0,0);
    min-height: 32px;
}


textarea.post {
    width: 100%;
    height: 300px;
}

textarea.comment {
    width: 100%;
    height: 100px;
}



footer {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    padding: 20px 0;
    border-top: 1px solid rgb(230,230,230);
    text-align: center;
}

.wysibb-image, .wysibb-video {
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 360px;
}

.wysibb-video {
    height: 360px;
}