/**
 * .quark-dialog component
 */
.quark-dialog, .quark-gallery {
    display: inline-block;
    margin: 5% 10px 10px 10px;
    padding: 20px;
    max-width: 360px;
    vertical-align: middle;
    text-align: left;
    background: rgb(255,255,255);
    border-radius: 5px;
    border: 1px solid rgb(240,240,240);
}

.quark-dialog .quark-message {
    display: inline-block;
}

.quark-dialog .quark-dialog-confirm, .quark-dialog .quark-dialog-close {
    float: right;
    margin: 0 0 0 5px !important;
}

.quark-dialog .quark-dialog-state ul {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 15px;
}

#quark-dialog-box, #quark-gallery-box {
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(30,30,30,0.85);
    z-index: 10;
}


/**
 * .quark-gallery component
 */
.quark-gallery {
	width: 80%;
	height: 75%;
	max-width: inherit;
	border-radius: 0;
	padding: 0;
}

.quark-gallery-viewport {
    background: center center no-repeat;
    background-size: cover;
	width: 100%;
	height: 100%;
}


/**
 * .quark-list component
 */
.quark-list-item:before {
	content: '\f111';
	vertical-align: middle;
}

.quark-list-item .quark-input.item-value {
	vertical-align: middle;
	margin: 0 10px;
}

.quark-list-item .quark-button.item-remove {
	vertical-align: middle;
}


/**
 * .quark-input.range component
 */
.quark-input.range {
	padding: 0;
    line-height: 0;
}

.quark-range-slider {
	display: inline-block;
	background: rgb(220,220,220);
	border: 1px solid rgb(210,210,210);
	margin: -6px 0 0 0;
	padding: 5px;
	cursor: pointer;
	position: absolute;
}

.quark-range-slider:hover {
	background: rgb(245,245,245);
}


/**
 * .quark-language-select
 */
.quark-language-select {
	width: 65px;
    border: 0;
    outline: none;
	vertical-align: top;
}



/**
 * .quark-scroll component
 */
.quark-scrollable {
	vertical-align: top;
}

.quark-scrollable-content {
	display: inline-block;
	width: 96%;
}

.quark-scroll-bar {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	margin: 3px;
	cursor: pointer;
}

.quark-scroll-trigger {
	display: inline-block;
	width: 10px;
	height: 100px;
	border-radius: 10px;
	background: rgb(220,220,220);
}

.quark-scroll-trigger:hover {
	background: rgb(200,200,200);
}